/*  bleu foncé 016fa0 
	bleu clair 60b3d5
	faire un slider en page d'index.
	chercher font et images diverses d habillage
	chercher la base sql de cupoftea
	choper les icones insta etc
	blague sur "c'est bulots"
	les ajouter au panier se font au hover
*/

/* --------------------------------------------------------------------------------------------------
    ----------------------------------------------- GLOBAL ------------------------------------------
-----------------------------------------------------------------------------------------------------*/

* {
	box-sizing: border-box;
	outline: none;
}

html {
    font-size: 62.5%
}

body {
    background-color: #f5f5f5;
    text-align: center;
	color:black;
	font-size: 1.6rem;
}

img {
	max-width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

.container {
	max-width: 1100px;
    margin: 0 auto;
    background-color: white;
}

li {
	list-style: none;
}

/* --------------------------------------------------------------------------------------------------
    ----------------------------------------------- HEADER ------------------------------------------
-----------------------------------------------------------------------------------------------------*/

body header {
    background-color: #016fa0;
}

nav, aside {
    text-transform: uppercase;
}

/* --------------------------------------------------------------------------------------------------
    ----------------------------------------------- HEADER ASIDE ------------------------------------
-----------------------------------------------------------------------------------------------------*/

aside ul {
	display: flex;
	flex-direction: row;
    justify-content: flex-end;
    padding: 1.5em 1.5em 1.5em 0;
	font-size: 1.5rem;
}

aside ul li {
	margin-left: 2.5rem;
    position: relative;
}

aside ul li {
	top: 0rem;
	transition: top 0.3s ease-in-out; 
}
aside ul li:hover {
	top: 0.5rem;
}

/* --------------------------------------------------------------------------------------------------
--------------------------------------------------- HEADER LOGO --------------------------------------
-----------------------------------------------------------------------------------------------------*/

header > aside + figure {
	position: absolute;
	top: 0rem;
	left: 40%;
	transition: top 0.3s ease-out;     /* a changer  plus rapide  descente*/
}

header > aside + figure:hover {
	top: 3rem;                         /* a changer  plus rapide  descente*/
}

/* --------------------------------------------------------------------------------------------------
    ----------------------------------------------- HEADER NAV -----------------------------------------
-----------------------------------------------------------------------------------------------------*/

header ul {
	margin-top: 0rem;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height:3rem;
    font-size: 2.5rem;
    padding: 5% 6% 5% 5%;
}

nav ul li:nth-child(2) {
	margin-right: 20%;
}

nav ul li:nth-child(3) {
	margin-left: 2%;
}

nav ul li {
	margin-top: 1.1rem;
	margin-right: 2.2rem;
    position: relative;
    list-style: none;
} 

nav ul li  {
	top: 0rem;
	transition: top 0.3s ease-in-out; 
}
nav ul li:hover {
	top: 0.5rem; 
}

/* --------------------------------------------------------------------------------------------------
    ----------------------------------------------- MAIN ------------------------------------------
-----------------------------------------------------------------------------------------------------*/






/* --------------------------------------------------------------------------------------------------
    ----------------------------------------------- FOOTER LISTE -------------------------------------
-----------------------------------------------------------------------------------------------------*/

body footer {
	display: flex;
	justify-content: center;
	background-color: #016fa0;
	text-transform: uppercase;
}

footer article {
	width: 30%;
	font-size: 1.4rem;
}

li {
	margin: 0.5rem;
}